# cherry picking from https://github.com/paulirish/dotfiles/blob/master/.gitconfig

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current
[include]
	# For username / github token / etc
	path = ~/.gitconfig.local
[user]
	name = Michael Matyus
	email = michael@maty.us
[credential]
	helper = osxkeychain
